<h1 align="center">Listing all articles</h1>
<div align="center">
    <%= will_paginate %>
</div>
<div align="center">
<% @categories.each do |category| %>
    <%= link_to "#{category.name}", category_path(category), remote: true %>
<% end %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
    <%= will_paginate %>
</div>
