$navbar-default-bg: #eff4fc;

@import "bootstrap-sprockets";
@import "bootstrap";

#homepage {
  text-align: center;
  margin-top: 10px;
}

.padding {
  margin-top: 45px;
}

.home {
  text-align: center;
}

#footer {
  margin-top: 200px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.footer {
  position: relative;
  text-align: center;
  bottom: -80px;
  font-size: 14px;
}
