
<footer class="page-footer font-small blue footer" id="footer">
  <div class="footer-copyright text-center py-3">© 2018 My Blog:
    <a href="#"> Created by Ankit Bandkar</a>
    <p>
        <a href = "/about">about</a>
    </p>
  </div>
</footer>
